.home {
  background: var(--bg-gradient);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
}

.home-container {
  margin-top: 50px;
  width: 100%;
}

.home-section {
  display: block;
  margin: 125px;
}

h1 {
  color: #fadaff;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.2em;
  margin-bottom: 0;
}

h2 {
  color: #fadaff;
  font-weight: 800;
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: 0;
}

p {
  color: #F6CDF7;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.75em;

}

.dev-container {
  display: inline;
  margin: 0;
  width: 100%;
}

.dev-row {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.dev-card {
  z-index: 0;
  /* position: relative; */
  background: #FADAFF;
  box-shadow: 0px 4px 32px 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  width: 50%;
  height: 187px;
  margin: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: all 0.4s ease;
}

.dev-card:hover {
  transform: scale(1.025);
}

.dev-photo {
  display: flex;
  align-items: center;
}

.dev-photo img {
  width: 100%;
  margin-top: 10px;
}

.dev-info {
  z-index: 0;
  display: inline-block;
  width: 70%;
  padding: 20px;
  overflow: hidden;
}

.dev-info h3 {
  margin: 5px 0px;
  color: #061832;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2em;
}

.dev-info h4 {
  margin: 5px 0px;
  color: #753580;
  font-weight: 600;
  font-size: 0.583em;
  line-height: 1.2em;
}

.dev-info p {
  margin: 10px 0px;
  color: #753580;
  font-weight: 400;
  font-size: 0.583em;
  line-height: 1.2em;
}

.dev-links {
  width: auto;
}

.dev-links a {
  text-decoration: none;
  float: right;
  margin: 0.9em 0.5em 0 1.5em;
  color: #4C21D7;
  font-weight: 700;
  font-size: 0.583em;
  z-index: 1;

}

.dev-links a:hover {
  color:#753580;
  transition: all 0.5s ease;
  text-decoration: underline;
}

.home-butt-container {
  width: 32%;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin: auto;
  margin-top: 6vw;
}

.home-butt {
  display: flex;
  background: linear-gradient(86.86deg, #FF80AB 0%, #EA80FB 100%), #FF80AB;
  box-shadow: 0px 4px 32px 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  justify-content: center;
  z-index: 2;
  transition: all 0.2s ease;
}

.home-butt a {
  font-weight: normal;
  font-style: normal;
  padding: 15px 25px 15px;
  color: white;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.home-butt:hover {
  cursor: pointer;
  background:  #c8457c;
  transition: all 0.4s ease;
}

@media screen and (min-width: 2560px) {
  .dev-photo {
    width: 8vw;
  }
}

@media screen and (max-width: 2560px) {
  .dev-photo {
    width: 8.2vw;
  }
}

@media screen and (max-width: 2400px) {
  .dev-photo {
    width: 9vw;
  }
}

@media screen and (max-width: 2240px) {
  .dev-photo {
    width: 10.5vw;
  }
}

@media screen and (max-width: 1920px) {
  .dev-photo {
    width: 11.5vw;
  }
}

@media screen and (max-width: 1800px) {
  .dev-photo {
    width: 12.7vw;
  }
}

@media screen and (max-width: 1680px) {
  .dev-photo {
    width: 15vw;
  }
}