.landing {
  background: var(--bg-gradient);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  font-family: Inter;
}

.landing-photo {
  text-align: right;
  transform: scale(0.85);
  width:100vw;
}

.landing-photo-wrap {
  filter: drop-shadow(-15px 8px 10px #110011);
  background: linear-gradient(rgb(76,33,215), rgb(157,33,215));
  clip-path: polygon(100% 0, 100% 100vh, 20% 0);
}

.intro {
  top: 5%;
  left: 4.5vw;
  position: absolute;
  align-items: center;
}

.img-container {
  width: 16%;
  height: auto;
  text-align: center;
  /* background-color: blue; */
}
.img-container img {
  width: 90%;
}

.intro h2 {
  width: 40%;
  font-weight: 800;
  color: #FADAFF;
  font-size: 46pt;
  line-height: 7vh;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin: 0;
  margin-bottom: 15px;

}

.intro p {
  margin: 0;
  width: 50%;
  color: #F6CDF7;
  font-style: normal;
  font-size: 24pt;
  line-height: 6vh;
  font-weight: 300;
}

.butt-container {
  margin-left: -15px;
  margin-top: 20px;
  display: flex;
  z-index: 0;
}

.butt {
  margin-right: 4vw;
  display: flex;
  background: linear-gradient(86.86deg, #FF80AB 0%, #EA80FB 100%), #FF80AB;
  box-shadow: 0px 4px 32px 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  justify-content: center;
  z-index: 2;
  transition: all 0.2s ease;
}

.butt a {
  font-weight: normal;
  font-style: normal;
  padding: 15px 25px 15px;
  color: white;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.butt:hover {
  cursor: pointer;
  background:  #c8457c;
  transition: all 0.4s ease;
}

.typerwoman {
  display: none;
}

.headname {
  display: none;
}

.header {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    position: absolute;
    width: 100vw;
    top: 0;
  }

  .intro {
    top: max(9%, 125px);
  }

  .typerwoman {
    display: flex;
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
  }

  .headname {
    display: flex;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 30pt;
    font-weight: 400;
    color: #f6cdf7;
    display: none;
  }

  .img-container {
    /* padding-top: 50; */
    width: 100%;
  }
  
  .img-container img {
    width: 100px;
    margin: -200px 0vw 30px 80vw;
    /* margin-top: -200px;
    margin-left: 80vw;
    margin-bottom: 30px; */
  }

  .landing-photo {
    display: none;
  }

  .butt-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .butt {
    margin: auto;
    margin-bottom: 35px;
    /* margin-left: 10px; */
    width: max(50vw, 400px);
  }

  .intro h2 {
    width: 100%;
    margin-top: 15px;
  }

  .intro p {
    margin-top: 25px;
    width: 90vw;
  }
}