.landing {
  background: var(--bg-gradient);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  font-family: Inter;
}

.landing-photo {
  width:100vw;
  clip-path: polygon(100% 0, 100% 100vh, 20% 0);
}

.landing-photo-wrap {
  filter: drop-shadow(-15px 8px 10px #110011);
}

.intro {
  top: 5%;
  left: 4.5vw;
  position: absolute;
  align-items: center;
}

.img-container {
  width: 19%;
  height: auto;
  text-align: center;
  /* background-color: blue; */
}
.img-container img {
  width: 96%;
}

.intro h2 {
  width: 40%;
  font-weight: 800;
  color: #FADAFF;
  font-size: 5.5em;
  line-height: 1.1em;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin: 0;
  margin-bottom: 15px;

}

.intro p {
  margin: 0;
  width: 50%;
  color: #F6CDF7;
  font-style: normal;
  font-size: 36px;
  line-height: 64px;
  font-weight: 300;
}

.butt-container {
  margin-left: -15px;
  margin-top: 20px;
  display: flex;
  z-index: 0;
}

.butt {
  margin-right: 90px;
  display: flex;
  background: linear-gradient(86.86deg, #FF80AB 0%, #EA80FB 100%), #FF80AB;
  box-shadow: 0px 4px 32px 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  justify-content: center;
  z-index: 2;
  transition: all 0.2s ease;
}

.butt a {
  font-weight: normal;
  font-style: normal;
  padding: 15px 25px 15px;
  color: white;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.butt:hover {
  cursor: pointer;
  background:  #c8457c;
  transition: all 0.4s ease;
}