.landing {
  background: var(--bg-gradient);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  font-family: Inter;
}

.landing-photo {
  width: 100vw;
  clip-path: polygon(100% 0, 100% 100vh, 35% 0);
}

.header {
  display: none;
}

.typerwoman {
  display: none;
}

.typingwoman {
  position: absolute;
  top: 20px;
  right: 20px;
}

.headname {
  display: none;
}

.landingbg {
  position: absolute;
  z-index: -1;
}

.landing-photo-wrap {
  filter: drop-shadow(-15px 8px 10px #110011);
}

.intro {
  top: 5%;
  left: 4.5vw;
  position: absolute;
  align-items: center;
}

.img-container {
  width: 19%;
  height: auto;
  text-align: center;
  /* background-color: blue; */
}
.img-container img {
  width: 96%;
}

.intro h2 {
  width: 50%;
  font-weight: 800;
  color: #fadaff;
  font-size: max(35px, min(45px, 6vw));
  line-height: 1.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  margin-bottom: 15px;
}

.intro p {
  margin: 0;
  width: 50%;
  color: #f6cdf7;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}

.butt-container {
  margin-left: -15px;
  margin-top: 20px;
  display: flex;
  z-index: 0;
}

.butt {
  margin-right: 90px;
  display: flex;
  background: linear-gradient(86.86deg, #ff80ab 0%, #ea80fb 100%), #ff80ab;
  box-shadow: 0px 4px 32px 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  justify-content: center;
  z-index: 2;
  transition: all 0.2s ease;
}

.butt a {
  font-weight: normal;
  font-style: normal;
  padding: 10px 25px 10px;
  color: white;
  font-size: 18px;
  line-height: 44px;
  text-decoration: none;
}

.butt:hover {
  cursor: pointer;
  background: #c8457c;
  transition: all 0.4s ease;
  transform: scale(1.025);
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    position: absolute;
    width: 100vw;
    top: 0;
  }

  .intro {
    top: max(9%, 125px);
  }

  .typerwoman {
    display: flex;
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
  }

  .headname {
    display: flex;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 30pt;
    font-weight: 400;
    color: #f6cdf7;
  }

  .img-container {
    padding-top: 50;
    width: max(19%, 120px);
  }

  .landing-photo {
    display: none;
  }

  .butt-container {
    display: flex;
    flex-direction: column;
  }

  .butt {
    margin-bottom: 15px;
    margin-left: 10px;
    width: max(45vw, 250px);
  }

  .intro h2 {
    width: 100%;
  }

  .intro p {
    width: 90vw;
  }
}
